<mat-grid-list cols="3">
    <mat-grid-tile colspan="2">
        <div>
            <h1>A little about me</h1>
            <p>
                Hello! I'm Nauman and I'm ... (This paragraph will be 2 to 4 sentences, providing a very
                brief description of who I am and whom this site is for.)
            </p>

            <p>
                On this site, you'll find ... (In this paragraph, I'll give a more detailed description about
                the website and the content contained within. I'll describe the different kinds of projects I
                undertake, the activities I'm regularly involved in etc. Probably, 6 to 8 sentences? In any
                case, the bulk of the page will be taken up by the content in this paragraph.)
            </p>

            <p>
                (This paragraph will just be 1 or 2 sentences, providing my contact details to anyone who
                wishes to get in touch.)
            </p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="assets/images/profile.jpg" alt="Me on a bike">
    </mat-grid-tile>
</mat-grid-list>